/* Variables */

:root {
--basic-black: #000000;
--basic-black-opacity: rgba(0, 0, 0, 0.3);
    
--basic-dark: #283136;
--basic-white: #ffffff;
--basic-gray: #666666;
--basic-gray-light: #eeeeee;
--basic-gray-dark: #444444;

--special-gray: #a6a6a6;
--special-dark-gray: #4D4D4D;
--special-dark: #231f20;
--special-white: rgba(255, 255, 255, 0.3);

--special-black-opacity: rgba(0, 0, 0, 0.6);
    
--special-red: #fb565a;
--special-red-hover: #E74246;
--special-red-active: #D7373B;

--special-green: #00CA74;
--special-green-hover: #00BC6C;
--special-green-active: #00AA62;
    
--special-yellow: #EFC849;
--special-yellow-hover: #EAB534;
--special-yellow-active: #E5A722;
}

.page{
    height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

body {
    min-width: 1157px;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--basic-dark);
    background-color: var(--basic-white);
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
    background-color: var(--basic-gray-light);
}

.main-navigation {
    display: grid;
    grid-template-columns: 160px 1fr min-content;
    width: 1157px;
    font-weight: 500;
    line-height: 30px;
    margin: 0 auto;
    padding: 0;
}

.header-navigation {
    padding: 0;
    justify-self: center;
}

.header-navigation, 
.slider-list {
 list-style: none;
}

.header-navigation a,
.main-navigation a
{
    color: var(--basic-black);
}

.header-navigation a:hover,
.main-navigation a:hover {
    color: var(--special-red);
}

.header-navigation a:active,
.main-navigation a:active {
    color: var(--basic-black-opacity);
}

.container {
    width:1157px;
    margin: 0 auto;
}

.slider-wrapper {
    background-color: var(--basic-gray-light);
}

.slider-list {
    padding: 0;
    margin: 0;
}

.slider-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    color: var(--basic-black);
}

.button {
    color: var(--basic-white);
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
}

.slider .button,
.main-footer-map .button, 
.layout-list-item .button,
.services-list-item:nth-child(1) .button {
    background-color: var(--special-red);
}

.slider .button:hover,
.main-footer-map .button:hover, 
.layout-list-item .button:hover,
.services-list-item:nth-child(1) .button:hover {
    background-color: var(--special-red-hover);
}

.slider .button:active,
.services-list-item:nth-child(1) .button:active
{
    background-color: var(--special-red-active);
    color: var(--special-white);
} 

.slider-pagination {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.services{
    margin-bottom: 80px;
}

.services-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 100px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-list-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}


.services-list-item:nth-child(2) .button {
    background-color: var(--special-green);
}

.services-list-item:nth-child(2) .button:hover {
    background-color: var(--special-green-hover);
}

.services-list-item:nth-child(2) .button:active {
    background-color: var(--special-green-active);
    color: var(--special-white);
}

.services-list-item:nth-child(3) .button {
    background-color: var(--special-yellow);
}

.services-list-item:nth-child(3) .button:hover {
    background-color: var(--special-yellow-hover);
}

.services-list-item:nth-child(3) .button:active {
    background-color: var(--special-yellow-active);
    color: var(--special-white);
}

.index-column {
    display: grid;
    grid-template-columns: 655px 360px;
    column-gap: 149px;
}

.about-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: var(--basic-black);
}

.about-subtitle, 
.advantages-title {
    font-weight: 700;
}

.about-list {
    list-style: none;
}

.advantages-title {
    color: var(--basic-black);
}

.adventages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   list-style: none;
    margin: 0;
    padding: 0;
}

.adventages-list-title {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    color: var (--basic-black);
    margin: 0;
}

.adventages-list-title span:last-of-type {
    font-size: 26px;
    line-height: 40px;
    font-weight: inherit;
}

.adventages-list-description {
    line-height: 18px
}

.clients-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-footer-map h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black);
}

.main-footer-adress {
    line-height: 18px;
    color: var(--basic-gray);
}

.main-footer-telephone {
   color: var(--basic-gray); 
}

.main-footer-telephone a{
    text-decoration: none;
    color: inherit;
}

.footer-column {
    display: grid;
    grid-template-columns: 320px 1fr;
    column-gap: 80px
}

.main-footer-social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-footer-discount-title {
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: var(--basic-black);
}

.main-footer-discount-description {
    color: var(--basic-gray-dark);
}

.main-footer-map .button, 
.layout-list-item .button  {
    border: none;
}

.main-footer-map .button:active,
.layout-list-item .button:active {
    background-color: var(--special-red-active);
    color: var(--basic-white);
    border: 0;
}

.catalog-wrapper {
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 140px;
}

.title-wrapper {
    text-align: center;
    background-color: var(--basic-gray-light);
}

.title-wrapper h1 {
    margin: 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}
legend {
   text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
}

label {
    line-height: 19px;
}

.filter-list-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sorting-column {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 40px;
}

.layout-sorting-title {
    line-height: 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--basic-black);
}

.layout-sorting {
    list-style: none;
}

.layout-sorting-item a {
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-gray-light);
}

.layout-sorting-item a,
.layout-sorting-ascending-item a {
    color: var(--basic-black-opacity);
}

.layout-sorting-item a:hover,
.layout-sorting-ascending-item a:hover {
    color: var(--special-black-opacity);
}

.layout-sorting-item a:active,
.layout-sorting-ascending-item a:active {
    color: var(--basic-black);
}

.active a{
    color: var(--basic-black);
}


.layout-sorting-ascending {
    list-style: none;
}

.items-column {
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
}

.layout-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.layout-list-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
}

.layout-list-item-title a:hover {
    color: var(--special-red);
}

.layout-list-item-title a:active {
    color: var(--basic-black-opacity);
}

.pagination {
    list-style: none; 
}

.pagination-item a{
    text-decoration: none;
    color: var(--basic-black);
}